// Colors
$colortext:rgb(2, 75, 108);
$colorIcons:rgb(52, 111, 137);
$colorBox:rgb(22, 160, 184);
$colorBlack:black;
$colorWhite:white;
$colorGray:gray;
$colorNavButton:rgb(233,73,10);
// Width & Height Logo
$width-x:155px;
$height-x:50px;
$width-foto:180px;
$height-foto:120px;
// Spacing
$padding-x:10px;
$padding-2x:20px;
$padding-3x:30px;
$margin-x:10px;
$margin-2x:20px;
$margin-3x:30px;
// Size
$small:10px;
$medium:25px;
$large:35px;
// Border
$border-x:5px;
$border-2x:10px;
$mainBorder:$padding-x/10 solid $colorGray;
$mainBorder-2: $padding-x/10 solid $colorWhite;
// Fonts
$ikonFont:'Cabin Condensed', sans-serif;
$pageheading:'Poppins', sans-serif;


